.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #333333;
  color: white;
  font-size: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 60px 350px;
}

.red {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:200px;
  height: 240px;
  border:solid 8px red;
  margin-bottom: 60px;
  padding: 15px;
  box-sizing: border-box;
}

.green {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:200px;
  height: 240px;
  border:solid 8px green;
  margin-bottom: 60px;
  padding: 15px;
  box-sizing: border-box;
}

.yellow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:200px;
  height: 240px;
  border:solid 8px rgb(250, 250, 0);
  padding: 15px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.blue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:200px;
  height: 240px;
  border:solid 8px blue;
  margin-bottom: 60px;
  padding: 15px;
  box-sizing: border-box;
}

.pink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:200px;
  height: 240px;
  border:solid 8px pink;
  margin-bottom: 60px;
  padding: 15px;
  box-sizing: border-box;
}

h2 {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

span {
  margin-right: 15px;
}

.footer {
  height: 40px;
  background-color: rgb(179, 179, 179);
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}

.footer span {
  margin-right: 0;
  font-style: italic;
}


